/*fixes bug that results in some text not being able to be selected*/
*{
    z-index: 100;
}

/*Square card*/
.demo-card-square.mdl-card {
  width: 270px;
  height: 300px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('resources/generic.png') center;
  background-size: 125%;
  background-repeat: no-repeat;
}
.card-overlay{
    background: white;
    background-repeat: no-repeat;
    height:300px;
    width: 270px;
    opacity: 0;
    margin: -15px;
    vertical-align: text-bottom;
}
.card-overlay:hover{
    background: white;
    background-repeat: no-repeat;
    height:300px;
    width: 270px;
    opacity: 0.8;
    margin: -15px;
    transition: 0.3s;
}
.demo-card-square a{
    color: #606060;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.card-name{
    font-size: 24px;
}

/*grid alignment and styling*/
.mdl-grid{
    margin-left: 165px;
    margin-top: 10px;
}
.mdl-grid h2{
    color: #47886e;
    font-weight: bold;
}
.mdl-grid h3{
    color: #606060;
}


/*navbar styling and placement*/
.nav .mdl-layout__drawer-button{
    margin: 60px;
}
.nav .mdl-layout__header {
    padding: 53px;
}
.nav li a{
    font-size: 20px;
}



/*nav logo animation and styling*/
.nav span a{
    padding-left: 10px;
    position: relative;
    display: inline-block;
}
.nav span a .Color{
    padding-left: 10px;
    padding-top: 11px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.nav span a:hover .Color{
    display: inline;
}



/*Navbar Animation*/
.nav .container {
    width: 50%;
    margin: 0 auto;
  }
.nav ul li {
    display: inline;
    text-align: center;
  }
.nav a {
    width: 25%;
    padding: .75rem 0;
    margin: 20px;
    text-decoration: none;
    color: white;
  }
.nav .one:hover ~ hr {
    opacity: 1.0;
}
.nav .two:hover ~ hr {
    margin-left: 26%;
    opacity: 1.0;
  }
.nav .three:hover ~ hr {
    margin-left: 53%;
    opacity: 1.0;
  }
.nav .four:hover ~ hr {
    margin-left: 78%;
    opacity: 1.0;
  }
.nav hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: #63b593;
    opacity: 0;
    border: none;
    transition: .3s ease-in-out;
  }



/*Footer Styling*/
footer h1 {
    color: #606060;
    font-size: 18px;
    padding: 0px;
}
footer ul {
    list-style: none;
    padding: 0px;
    line-height: 30px
}
footer a {
    text-decoration: none;
    color: darkgrey;
    font-size: 16px;
}
footer a:hover{
    color: #47886e;
}
