/*set background image*/
.home {
    background: url('/resources/NotreDameAerial.jpg') center / cover;
  }

.home .mdl-layout__drawer-button{
    margin: 60px;
}

.home .mdl-layout__header {
    padding: 50px;
}

.home a{
    font-size: 20px;
}

.home span{
    padding-left: 10px;
}