/*fixes bug that results in some text not being able to be selected*/
*{
    z-index: 100;
}

/*join us cards*/
.students-card > .mdl-card__supporting-text h2{
    color: #606060;
    font-size: 22px;
    margin-top: -20px;
    margin: 0px;
    background: white;
}
.students-card.mdl-card {
    width: 512px;
}
.students-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('resources/NotreDameStudents.png') center / cover;
}
.students-card > .mdl-card__menu {
    color: #fff;
}
.students-card a{
    color: #47886e;
}
.companies-card > .mdl-card__supporting-text h2{
    color: #606060;
    font-size: 22px;
    margin-top: -20px;
    margin: 0px;
    background: white;
}
.companies-card.mdl-card {
    width: 512px;
}
.companies-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('resources/NotreDameCareerFair.jpg') center / cover;
}
.companies-card > .mdl-card__menu {
    color: #fff;
}
.companies-card a{
    color: #47886e;
}


/*leadership styling*/
.leadership{
    margin-top: -35px;
}
.leadership h3{
    color: #606060;
}
.leadership h4{
    color: darkgrey;
    font-size: 22px;
    margin-top: -25px;
}
.leadership p{
    color: #606060;
    margin-top:-5px;
    font-size:18px;
}





/*Square card*/
.demo-card-square.mdl-card {
  width: 220px;
  height: 240px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('resources/headshots/generic.png') center no-repeat;
  background-size: 115%;
  background-repeat: no-repeat;
}
.card-overlay{
    background: white;
    background-repeat: no-repeat;
    height:240px;
    width: 220px;
    opacity: 0;
    margin: -16px;
    vertical-align: text-bottom;
}
.card-overlay:hover{
    background: white;
    background-repeat: no-repeat;
    height:240px;
    width: 220px;
    opacity: 0.85;
    margin: -16px;
    transition: 0.3s;
}
.demo-card-square a{
    color: #606060;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.card-name{
    font-size: 24px;
}




/*Custom Images for team cards + container styling*/
.our-team-container{
    background: whitesmoke;
}
.demo-card-square.VinceSipocz > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/VinceSipocz.jpeg') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.ShaneEarley > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/ShaneEarley.png') center no-repeat;
    background-size: 105%;
    background-repeat: no-repeat;
}
.demo-card-square.AJJohnson > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.AndrewGlickert > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/AndrewGlickert.jpeg') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.ChrisHunt > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/ChrisHunt.jpeg') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.ConorMurphy > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.GavinJakubik > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.GrahamFisher > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.JackMasciopinto > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/JackMasciopinto.jpeg') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.JakeFeehery > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.JasonBrown > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/generic.png') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}
.demo-card-square.MichaelLee > .mdl-card__title {
    color: #fff;
    background: url('resources/headshots/MichaelLee.jpeg') center no-repeat;
    background-size: 110%;
    background-repeat: no-repeat;
}




/*grid alignment and styling*/
.mdl-grid{
    margin-left: 165px;
    margin-top: 10px;
    margin-right: 165px;
}
.mdl-grid h2{
    color: #47886e;
    font-weight: bold;
}
.mdl-grid h3{
    color: #606060;
}
p{
    color: #606060;
    font-size:18px;
}



/*navbar styling and placement*/
.nav .mdl-layout__drawer-button{
    margin: 60px;
}
.nav .mdl-layout__header {
    padding: 53px;
}
.nav li a{
    font-size: 20px;
}




/*nav logo animation and styling*/
.nav span a{
    padding-left: 10px;
    position: relative;
    display: inline-block;
}
.nav span a .Color{
    padding-left: 10px;
    padding-top: 11px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.nav span a:hover .Color{
    display: inline;
}




/*Navbar Animation*/
.nav .container {
    width: 50%;
    margin: 0 auto;
  }
.nav ul li {
    display: inline;
    text-align: center;
  }
.nav a {
    width: 25%;
    padding: .75rem 0;
    margin: 20px;
    text-decoration: none;
    color: white;
  }
.nav .one:hover ~ hr {
    opacity: 1.0;
}
.nav .two:hover ~ hr {
    margin-left: 26%;
    opacity: 1.0;
  }
.nav .three:hover ~ hr {
    margin-left: 53%;
    opacity: 1.0;
  }
.nav .four:hover ~ hr {
    margin-left: 78%;
    opacity: 1.0;
  }
.nav hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: #63b593;
    opacity: 0;
    border: none;
    transition: .3s ease-in-out;
  }




/*Footer Styling*/
footer h1 {
    color: #606060;
    font-size: 18px;
    padding: 0px;
}
footer ul {
    list-style: none;
    padding: 0px;
    line-height: 30px
}
footer a {
    text-decoration: none;
    color: darkgrey;
    font-size: 16px;
}
footer a:hover{
    color: #47886e;
}
